out/test/**
src/test/**
src/**/*.test.ts
.src/
**/*.map
**/*.ts
!**/*.d.ts
.git
.gitignore
*.vsix
**/.eslintrc
**/node_modules/**
!**/node_modules/**/*.js
!**/node_modules/**/*.json
!**/node_modules/**/*.sh
